{% extends "base.html" %}

{% block div %}

<div class="container">
  <div class="page-header">
    <h1>Dyketech personal cloud</h1>
</div>

{% if current_user.is_authenticated %}
  Hi {{ current_user.name }}!
  {% endif %}<div class="jumbotron">
  <h1>Welcome to Dyketech Personal cloud</h1>
  <p>Dyketech Personal cloud is an online serves tha allows you to upload , play and download your files,Get started and sign up today</p>
  <a href="register" type="button" class="btn btn-success">Sign Up</a>
  <button type="button" class="btn btn-link">or</button>
  <button type="button" class="btn btn-success ">Login</button>
</div>










<div class="mastfoot">
  <div class="inner">
    <p>Created by  <a href="">Duncan</a>, by <a href="">@duncan</a>.</p>
  </div>
</div>

</div>

</div>

</div>

    {% endblock %}
